<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css"
          th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" href="/static/css/myStyle.css"
          th:href="@{/css/myStyle.css}"/>
    <title>Modifier Etudiant</title>
</head>
<body>
<nav class="nav bg-success text-white">
    <a class="nav-link active white-col" th:href="@{index}">Home</a>
    <a class="nav-link active white-col" th:href="@{formEtudiant}">Ajouter</a>
</nav>
    <div class="container row">
        <div class="card text-center border-success col-lg-8 col-md-8 p-0 offset-3 shadow-lg my-4">
            <div class="card-header bg-success m-0"><h3 class="text-white m-0">Modification d'un étudiant</h3></div>
            <div class="card-body">
                <form th:action="@{saveEtudiant}" method="post" th:object="${etudiant}" enctype="multipart/form-data">
                    <div class="form-group row shadow-sm m-3">
                        <label for="id" class="form-label col-2 my-1">Id :</label>
                        <input class="form-control col-6" id="id" type="text" th:field="*{idEtudiant}"/>
                        <span class="text-danger" th:errors="*{idEtudiant}"></span>
                    </div>
                    <div class="form-group row shadow-sm m-3">
                        <label for="prenom" class="form-label col-2 my-1">Prénom :</label>
                        <input class="form-control col-6" id="prenom" type="text" th:field="*{prenom}" placeholder="entrer le prénom..."/>
                        <span class="text-danger" th:errors="*{prenom}"></span>
                    </div>
                    <div class="form-group row shadow-sm m-3">
                        <label for="nom" class="form-label col-2 my-1">Nom :</label>
                        <input class="form-control col-6" id="nom" type="text" th:field="*{nom}" placeholder="entrer le nom.."/>
                        <span class="text-danger" th:errors="*{nom}"></span>
                    </div>
                    <div class="form-group row shadow-sm m-3">
                        <label for="email" class="form-label col-2 my-1">Email :</label>
                        <input class="form-control col-6" id="email" type="text" th:field="*{email}" placeholder="entrer le email..."/>
                        <span class="text-danger" th:errors="*{email}"></span>
                    </div>
                    <div class="form-group row shadow-sm m-3">
                        <label for="dateNaissance" class="form-label col-2 my-1">Date Naissance :</label>
                        <input class="form-control col-6" id="dateNaissance" th:field="*{dateNaissance}" type="date"/>
                        <span class="text-danger" th:errors="*{dateNaissance}"></span>
                    </div>
                    <div class="form-group row shadow-sm m-3">
                        <div class="col-6">
                            <label for="photo" class="form-label col-2 my-1">Photo :</label>
                            <input class="form-control col-6" id="photo" type="file" name="picture"/>
                            <span class="text-danger" th:errors="*{photo}"></span>
                        </div>
                        <div class="col-3>
                            <img th:src="@{getPhoto(id=(${etudiant.idEtudiant}))}" width="200" height="auto" class="text-end">
                        </div>
                    </div>
                    <div>
                        <button type="submit" class="btn btn-success my-3">Enrégistrer</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>