<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css"
          th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" href="/static/css/myStyle.css"
          th:href="@{/css/myStyle.css}"/>
    <title>Ajouter Etudiant</title>
</head>
<body>
<div layout:fragment="content">
    <div class="container row">
        <div class="card text-center border-success col-lg-8 col-md-8 p-0 offset-3 shadow-lg my-4">
            <div class="card-header bg-success m-0"><h3 class="text-white m-0">Saisie d'un étudiant</h3></div>
            <div class="card-body">
                <form th:action="@{saveEtudiant}" method="post" th:object="${etudiant}" enctype="multipart/form-data">
                    <div class="form-group row shadow-sm m-3">
                        <label for="prenom" class="form-label col-2 my-1">Prénom :</label>
                        <input class="form-control col-6" id="prenom" type="text" th:field="*{prenom}" placeholder="entrer le prénom..."/>
                        <span class="text-danger" th:errors="*{prenom}"></span>
                    </div>
                    <div class="form-group row shadow-sm m-3">
                        <label for="nom" class="form-label col-2 my-1">Nom :</label>
                        <input class="form-control col-6" id="nom" type="text" th:field="*{nom}" placeholder="entrer le nom.."/>
                        <span class="text-danger" th:errors="*{nom}"></span>
                    </div>
                    <div class="form-group row shadow-sm m-3">
                        <label for="email" class="form-label col-2 my-1">Email :</label>
                        <input class="form-control col-6" id="email" type="text" th:field="*{email}" placeholder="entrer le email..."/>
                        <span class="text-danger" th:errors="*{email}"></span>
                    </div>
                    <div class="form-group row shadow-sm m-3">
                        <label for="dateNaissance" class="form-label col-2 my-1">Date Naissance :</label>
                        <input class="form-control col-6" id="dateNaissance" th:field="*{dateNaissance}" type="date"/>
                        <span class="text-danger" th:errors="*{dateNaissance}"></span>
                    </div>
                    <div class="form-group row shadow-sm m-3">
                        <label for="photo" class="form-label col-2 my-1">Photo :</label>
                        <input class="form-control col-6" id="photo" type="file" name="picture"/>
                        <span class="text-danger" th:errors="*{photo}"></span>
                    </div>
                    <div>
                        <button type="submit" class="btn btn-success my-3">Enrégistrer</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>